<div class="row option-block p-4 d-flex mx-auto flex-column">
    <h4 class="text-center">Anna</h4>
    <h5 class="text-center">
        it's your turn!
    </h5>
        <button type="button" class="btn btn-secondary my-2">Request</button>
        <button type="button" class="btn btn-secondary my-2">Stay</button>
</div>