<div class="row m-1" style="height:50px;">
    <form>
        <div class="form-group d-flex align-items-center">
            <label for="playersName" class="m-2">#@playerNum</label>
            <input class="form-control" id="playersName" placeholder="e.g. Anna" >

        </div>
    </form>
</div>
@code {
    int playerNum = 1;
}
