<style>
    .name-input{
    border-radius:20px;
    }

    .form-control{
        border:1px solid #FFF;
        height: 42px;
    }
</style>

<!-- Name field -->
<div class="row my-1 mx-2 align-items-center" style="height:50px;">
    <EditForm Model="@name">
        <div class="form-group d-flex align-items-center">
            <!-- Player number -->
            <label for="playersName" class="m-2"><strong>#@playerNum</strong></label>
            <!-- Name input -->
            <InputText class="form-control name-input" placeholder="e.g. Anna" @bind-Value="player" ></InputText>
        </div>
    </EditForm>
</div>


@code {
    int playerNum = 1;
    PlayersNameModel name = new PlayersNameModel();
    string player="1d5dd";

   
}
