<div class="row my-1 mx-1 " >
    <!-- Name -->
    <div class="row ml-5 mt-0 position-absolute name-background"><h4 class="name-overlap ">Anna</h4></div>

    <!-- Card & Score -->
    <div class="row d-flex justify-content-betweenm-2 m-2 mt-3 p-2 flex-nowrap card-block">

        <!-- Card -->
        <div class="col-11 d-flex align-items-center overlow-hidden  pt-2 hand-cards">
            @for (int i=0; i < 5; i++)
            {
                <img class="cards" style="height: 50px; margin-left:-10px;" src="card_assets/card_back.png" />
            }
        </div>

        <!-- Score -->
            <div class="col-1 d-flex align-items-center justify-content-end">
                <h3 class="text-right">13</h3>
            </div>
    </div>
</div>