@page "/game"
@inject HttpClient Http
@inject NavigationManager NavManager


<div class="container ">
    <div class="col-11 mx-auto">
        <div class="row d-flex mt-5 justify-content-center align-items-center">
            <img style="height:50px;" src="card_assets/card_logo.png" />
            <h2 class="font-italic ml-3"><strong>Race to 21</strong></h2>
        </div>
        <div class="row my-3 mx-auto d-flex align-items-center description-block">
            <h3 class="mx-auto">Emily hits 21!!</h3>
        </div>
        <div class="row my-5 d-flex flex-wrap">
            <div class="col-9 d-flex flex-wrap flex-column" style="height: 500px; ">
                    @for (int player = 0; player < 8; player++)
                    {
                        <PlayerBlock></PlayerBlock>
                    }
            </div>
            <div class="col-3 mt-2">
                <PlayerChoice></PlayerChoice>
            </div>
        </div>
    </div>
</div>




    @code{

        protected void GoToGamePage()
        {
            NavManager.NavigateTo("/");
        }

        private void IncrementCount()
        {
            NavManager.NavigateTo("/game");
        }
    }
