@page "/game"
@inject HttpClient Http
@inject NavigationManager NavManager


<div class="container">
    <div class="col-11 mx-auto">
        <div class="row mt-5 align-middle">
            <h1 class="mx-auto font-italic">Race to 21</h1>
        </div>
        <div class="row my-3 mx-auto d-flex align-items-center descriptionBlock">
            <h3 class="mx-auto">Emily hits 21!!</h3>
        </div>
        <div class="row my-3">
            <div class="col-9 mx-auto d-flex flex-wrap flex-column align-content-center" style="height: 500px;">
                    @for (int player = 0; player < 8; player++)
                    {
                        <PlayerBlock></PlayerBlock>
                    }
            </div>
            <div class="col-3 d-flex align-items-start">
                <PlayerChoice></PlayerChoice>
            </div>
        </div>
    </div>
</div>


    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


    <button class="btn btn-primary" @onclick="GoToGamePage">Click me2</button>


    @code{

        protected void GoToGamePage()
        {
            NavManager.NavigateTo("/");
        }

        private void IncrementCount()
        {
            NavManager.NavigateTo("/game");
        }
    }
