@page "/"
@inject NavigationManager NavManager


<div class="container mt-5 ">
    <div class="col-8 mx-auto mt-5">
        <!-- Title -->
        <div class="row d-flex mt-5 justify-content-center align-items-center">
            <img style="height:80px;" src="card_assets/card_logo.png" />
            <h1 class="display-4 font-italic ml-3">Race to 21</h1>
        </div>

        <!-- Description block -->
        <div class="row mt-5 mx-auto w-75 p-5 description-block">
            <div class="row mx-auto my-2">
                <h2><strong>Play with your friends!</strong></h2>
            </div>
            <div class="row mx-auto my-2">
                <p class="text-center">
                    The goal of this game is to amount your card
                    values as near to 21 as possible without exceeding or 'busting' it.
                </p>
            </div>
            <div class="row mx-auto my-2 ">
                <button type="button" class="btn btn-primary" @onclick="() => SetPlayerModal.Open()">Play</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for setting up players -->
<SetPlayersModal @ref="SetPlayerModal"></SetPlayersModal>


@code{

    /*** for SetPlayersModal ***/
    private SetPlayersModal SetPlayerModal { get; set; }

    int playerNum = 1;

}