@page "/"
@inject NavigationManager NavManager




<div class="container">
    <div class="col-8 mx-auto">
        <div class="row d-flex mt-5 justify-content-center align-items-center">
            <img style="height:80px;" src="card_assets/card_logo.png" />
            <h1 class="display-4 font-italic ml-3">Race to 21</h1>
        </div>
        <div class="row mt-5 mx-auto w-75 p-5 description-block">
            <div class="row mx-auto my-2">
                <h2><strong>Play with your friends!</strong></h2>
            </div>
            <div class="row mx-auto my-2">
                <p class="text-center">
                    The goal of this game is to amount your card
                    values as near to 21 as possible without exceeding or 'busting' it.
                </p>
            </div>
            <div class="row mx-auto my-2 ">
                <button type="button" class="btn btn-primary" @onclick="() => Modal.Open()">Play</button>
            </div>
        </div>
    </div>
</div>

<SetPlayers_temp @ref="Modal"></SetPlayers_temp>



@*<div class="col-4">
        @if (pickedCards == null)
        {
            <button type="button" class="btn btn-primary" @onclick="ShuffleDeck">Shuffle Deck</button>
        }
        else
        {
            <ul class="list-group">
                @foreach (var card in pickedCards)
                {
                    <li class="list-group-item">
                        <img src="card_assets/@card" />
                    </li>
                }
            </ul>
        }
    </div>*@


@code {
    @*int numberOfCards = 5;
        string[] pickedCards = new string[0];
        void UpdateCards()
        {
            pickedCards = CardPicker.PickSomeCards(numberOfCards);
        }

        void ShuffleDeck()
        {
            CardPicker.BuildDeck();
        }*@
}

@code{
    private SetPlayers_temp Modal { get; set; }

    int playerNum = 1;
    protected void GoToSetPlayers()
    {
        NavManager.NavigateTo("/set");
    }
    private void StartGame()
    {
        NavManager.NavigateTo("/game");
    }

    protected void GoBack()
    {
        NavManager.NavigateTo("/");
    }
}