@page "/set"
@inject NavigationManager NavManager

<style>
    /* Edited */
    .modal-content {
        min-width: 650px;
        border-radius: 15px;
        border: none;
        background-color: #FEC128;
    }

    .modal-dialog {
        max-width: 700px;
    }

    /* Edited */
    .modal-header,
    .modal-body,
    .modal-footer {
        border: none;
    }

    .modal-body {
        height: 250px;
    }
</style>


<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column  align-items-center">
                <div class="row col-12">
                    <h2 class="mx-auto mt-4 text-center">Who are the players?<br></h2>
                </div>
                <div class="row col-12 position-absolute mr-2 justify-content-end ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => Close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row mt-2">
                    <small class="mx-auto text-center">Please enter at least 2 player's name.</small>
                </div>
            </div>
            <div class="modal-body my-0 py-0">
                <div class="row my-3 my-0 py-0">
                    <div class="col d-flex flex-wrap flex-column align-content-center" style="height: 250px; ">
                        @for (int player = 0; player < playerAllNum; player++)
                        {
                            <PlayersNameField></PlayersNameField>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer row w-100 d-flex flex-column mx-auto mb-4">
                <div class="row mb-4">
                    <small class="mx-auto text-center">We will shuffle your order in the game.</small>
                </div>
                <div class="row d-flex w-100 mx-auto  justify-content-center">

                        <button type="button" class="btn btn-secondary mx-2" data-dismiss="modal" @onclick="() => Close()">Close</button>

                        <button type="button" class="btn btn-primary mx-2" style="width:400px;" @onclick="StartGame">Save changes</button>

                </div>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}



@code {
    int playerAllNum = 8;

    private void StartGame()
    {
        NavManager.NavigateTo("/game");
    }

    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}


<!---->
@*<div class="container ">
        <div class="col-8 mx-auto ">
            <div class="row mt-5 align-middle ">
                <h2 class="mx-auto">Who are the players?</h2>
            </div>
            <div class="row my-2">
                <small class="mx-auto">Please enter at least 2 player's name.</small>
            </div>
            <div class="row my-3">
                <div class="col d-flex flex-wrap flex-column align-content-center" style="height: 250px; ">
                    @for (int player = 0; player < playerAllNum; player++)
                    {
                        <PlayersNameField></PlayersNameField>
                    }
                </div>
            </div>
            <div class="row my-2">
                <button class="btn btn-primary mx-auto" @onclick="GoBack">Back</button>
                <button class="btn btn-primary mx-auto" @onclick="StartGame">Start</button>
            </div>
        </div>
    </div>*@

@*@code {
        int playerAllNum = 8;


    }*@

