@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}



/* Edited */
.btn-primary {
    color: #fff;
    border: 3px solid #262626;
    background-color: #262626;
    min-width: 150px;
    border-radius: 15px;
    height: 50px;
    transition: all .2s ease-in-out;
}

/* Edited */
    .btn-primary:hover {
        color: #fff;
        border: none;
        background-color: #000000;
        transform: scale(1.05);
    }

/* Edited */
.btn-secondary {
    color: #262626;
    border: 3px solid #262626;
    background-color: #FFF;
    min-width: 150px;
    border-radius: 15px;
    height: 50px;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

/* Edited */
    .btn-secondary:hover {
        background-color: #FFF;
        border: 5px solid #000000;
        color: #000000;
        font-weight: 900;
        transform: scale(1.05);
    }


.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Edited */
.display-4{
    font-weight:700;
}


/**********************************/
.description-block {
    border: 3px solid #FEC128;
    border-radius: 25px;
    min-height: 100px;
}


.option-block {
    background-color: #FEC128;
    border-radius: 15px;
}

